.keterangan-img {
    width: 80%;
    max-width: 20em;
}

.keterangan-bawah {
    color: darkgray;
}

.inputan .input-email , .inputan button.btn-email{
    border: 1px solid #3F4FC8;
  }
  
  .inputan button.btn-email{
    background-color: #3F4FC8;
    color: #fff;
  }
  
  .keterangan-text{
    font-size: clamp(1em, 2vw, 1.5em);
  }