.keterangan-img{
  width: 80%;
  max-width: 20em;
}

.keterangan-bawah{
  color: darkgray;
}

.input-email , .btn-email{
  border: 1px solid #3F4FC8;
}

.btn-email{
  background-color: #3F4FC8;
  color: #fff;
}