<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seluruh-data-detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="css/custom-view.css">
</head>
<body>
    
    <div class="container-fluid d-flex flex-column ps-0 pe-0 m-0" style="background: #F3F8FF;">

        <!-- Header Section -->
        <div class="header d-flex justify-content-between align-items-centers p-2">
            <div class="logo d-flex align-items-center ms-3">
                <!-- Header Icon -->
                <!-- <img src="img/logo.png" alt="" style="width: 3em;">
                <p class=" m-0 ms-1 fw-bold" style="color: #F8B94A;">Survei</p> -->
                <!-- jika ingin pakai yg icon lepas comment bagian dalam ini -->

                <!-- Header Judul -->
                <a href="beranda-view.html" class="nav-link"><i class="fas fa-chevron-left text-black"></i></a>
                <span>Detail</span>
                <!-- jika ingin pakai yg judul lepas comment bagian dalam ini -->
            </div>

            <div class="dropdown me-1">
                <button class="btn btn-secondary shadow-none border-0"  style="background: #F3F8FF;" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-black"></i>
                </button>
                <ul class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenu2">
                  <li><a class="dropdown-item text-decoration-none text-black">Pengaturan</a></li>
                  <li><a class="dropdown-item text-decoration-none text-black">Tentang</a></li>
                  <li><a class="dropdown-item text-decoration-none text-black">Keluar</a></li>
                </ul>
              </div>
        </div>
        <!-- Header Section -->

        <!-- Content Section -->
        <div class="content">
          <div class="container">
            <h6 class="detail col-12 text-center mt-3 mb-4">DATA PRASARANA UTILITAS GANG DAN PERUMAHAN<br>
                (PONTIANAK BARAT)</h6>

                <!-- tabel detail -->
            <div class="detail-data col-12 d-flex flex-column justify-content-center">
                <table class="detail col-12 mb-3">              
                        <tr>
                            <th>Nama gang dan perumahan</th>
                            <td>: Rambutan 2</td>
                        </tr>

                        <tr>
                            <th>Lokasi</th>
                            <td>: Jl. Komyos sudarso</td>
                        </tr>

                        <tr>
                            <th>Koordinat</th>
                            <td>: 311709.35 E ; 9999340.18 S</td>
                        </tr>

                        <tr>
                            <th>Dimensi jalan utama</th>
                            <td>: Panjang = <br>
                                : Lebar = 
                            </td>
                        </tr>
                        
                        <tr>
                            <th>Kondisi jalan</th>
                            <td>: Jalan Aspal dan Beton Kondisi 85% Baik</td>
                        </tr>

                        <tr>
                            <th>Dimensi saluran</th>
                            <td>: Panjang     =  0 m (Kanan) dan 0 m (Kiri)<br>
                                : Lebar     =  0 m (Kanan) dan 0 m (Kiri)<br>
                                : Kedalaman     =  0 m (Kanan) dan 0 m (Kiri)
                            </td>
                        </tr>

                        <tr>
                            <th>Kondisi saluran</th>
                            <td>: Tidak ada</td>
                        </tr>

                        <tr>
                            <th>Jenis fasos</th>
                            <td>: Masjid <br>
                                  Luas fasos  =  600 m3<br>
                                  Koordinat Fasos = 311782.60 E ; 9999628.46 S<br>
                                : Gereja <br>
                                Luas fasos = 300 m3<br>
                                Koordinat Fasos = 311741.07 E ; 9999429.96 S
                            </td>
                        </tr>

                        <tr>
                            <th>Jumlah rumah</th>
                            <td>: Layak = 10 unit<br>
                                : Tidak layak = 0 unit<br>
                                : kosong = 2 unit
                            </td>
                        </tr>

                        <tr>
                            <th>Jenis rumah</th>
                            <td>: Developer = 0 unit<br>
                                : Swadaya = 10 unit
                            </td>
                        </tr>

                        <tr>
                            <th>Pos jaga</th>
                            <td>: 0 unit</td>
                        </tr>

                        <tr>
                            <th>Ruko di bagian depan</th>
                            <td>: kanan = 10 unit<br>
                                kiri = 0 unit                               
                            </td>
                        </tr>

                        <tr>
                            <th>No. IMB Pendahuluan</th>
                            <td>: -</td>
                        </tr>

                        <tr>
                            <th>Surveyor</th>
                            <td>: Azizi Iqbalika</td>
                        </tr>

                        <tr>
                            <th>Lampiran data</th>
                            <td>:</td>
                        </tr>
                </table>
                <div class="gambar-detail d-flex col-12 justify-content-around mb-5">
                    <div class="gambar-satu col-5 d-flex flex-column align-items-center">
                        <h6 class="fw-bold">Gerbang</h6>
                        <img src="img/as.jpg" alt="" style="width: 5em;">
                    </div>

                    <div class="gambar-dua col-5 d-flex flex-column align-items-center">
                        <h6 class="fw-bold">Ruko samping kanan</h6>
                        <img src="img/as.jpg" alt="" style="width: 5em;">
                    </div>
                </div>

                <div class="tombol-detail col-12 d-flex justify-content-center">
                    <a href="" class="text-decoration-none btn btn-warning m-2 text-white" style="border-radius: .5em;"><i class="far fa-edit pe-2"></i>Edit</a>
                    <a href="" class="text-decoration-none btn btn-primary m-2 text-white border-0" style="background: #3F4FC8; border-radius: .5em;"><i class="fas fa-download pe-2"></i>Download</a>
                </div>
            </div>

            <!-- good luck have fun :) -->
          </div>
        </div>
        <!-- Content Section -->


        <!-- Navbar -->
        <nav class="navbar navbar-dark navbar-expand fixed-bottom pb-0" style="background: #3F4FC8;">
            <ul class="navbar-nav nav-justified w-100">
              <li class="nav-item position-relative">
                <i class="fas fa-home"></i>
                <a href="#" class="nav-link text-white d-flex justify-content-center align-items-end">Beranda</a>
              </li>
              <li class="nav-item">
                <i class="fas fa-folder-minus"></i>
                <a href="#" class="nav-link text-white d-flex justify-content-center align-items-end">Data Survei</a>
              </li>
              <li class="nav-item">
                <i class="fas fa-folder-plus"></i>
                <a href="#" class="nav-link text-white d-flex justify-content-center align-items-end">Tambah Data</a>
              </li>
              <li class="nav-item">
                <i class="fas fa-user"></i>
                <a href="#" class="nav-link text-white d-flex justify-content-center align-items-end">Profil</a>
              </li>
            </ul>
          </nav>

    </div>

</body>
</html>